API_ID=1234567
API_HASH=your_api_hash
STRING_SESSION=your_pyrogram_session_string

CHANNELS=-1001234567890,-1009876543210
OUTPUT_CHANNEL_ID=-1005555555555
ADMIN_ID=123456789

# Lehlah API
LEHLAH_COOKIE="your_full_cookie_string_here"

# Wishlink API
FIREBASE_API_KEY="AIzaSyYourFirebaseKey..."
WISHLINK_REFRESH_TOKEN="your_refresh_token..."

# Server (For Render)
PORT=10000
